*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#link_list{
    background-color: blue;
}

#burger div{
    width: 25px;
    height: 3px;
    background-color: aqua;
    margin: 5px;
    border-radius: 20%;
}

#header{
    display: flex;
    justify-content: flex-end;
}

#gridWrapperHome{
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows:  100px 400px minmax(200px, 1fr);
    grid-template-areas: 
    "he"
    "bg"
    "tx"
    ;   
}

header{
    grid-area: he;
}

#picture{
    background-color: brown;
    grid-area: bg;
}

#pictureDescription{
    background-color: aqua;
    grid-area: tx;
}