*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

nav{
    text-decoration: none;
}

a{
    text-decoration: none;
}

#linkList{
    background-color: black;
    height: 90vh;
    width: 100%;
    position: absolute;
    top: -100vh;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
    transition: all none;
}

#linkList a {
    color: whitesmoke;
    text-decoration: none
}

#burger div{
    width: 40px;
    height: 4px;
    background-color: whitesmoke;
    margin: 7px;
}

#burger{
    cursor: pointer;
}

.linkList_visible{
    transform: translateY(+110vh);
}

.burger_in_x_form #burger_line_2{
    opacity: 0;
}

.burger_in_x_form #burger_line_1{
    border-radius: 0%;
    transform: rotate(-45deg)
    translate(-5px, 10px);
}

.burger_in_x_form #burger_line_3{
    border-radius: 0%;
    transform: rotate(45deg) 
    translate(-5px, -10px);
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    color: whitesmoke;
    height: 10vh;
    grid-area: he;
}

#gridWrapperHome{
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows:  10vh 90vh;
    grid-template-areas: 
    "he"
    "bg"
    ;   
}

#pictureAndDescription{
    grid-area: bg;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#picture{
    height: 75%;
    width: 100%;
    background-image: url(../img/home/cactusStarsDesktop.jpg);
    background-size: cover;
    background-position: center;
}

#pictureDescription{
    background-color: black;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

#gridWrapperCourses{
    background-color: black;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 30vh 30vh 30vh 30vh 30vh 30vh;
    grid-template-areas: 
    "he"
    "ap"
    "dp"
    "wp"
    "mp"
    "ps"
    "ic"
    ;
}

.course{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5vh;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-width: 5px;
    border-style: solid;
    border-radius: 7px;
}

.courseImage{
    display: none;
}

.courseText{
    width: 70vw;
    text-align: center;
}

.courseTitle{
    font-size: 3vh;
    background-color: rgb(0, 0, 0, 0.5);
    color: whitesmoke;
    margin-bottom: 11vh;
}

.courseDescription{
    display: none;
}

.readMore{
    background-color: rgb(0, 0, 0, 0.5);
    color: whitesmoke;
    font-size: 3vh;
    cursor: pointer;
    text-align: center;
}

#analogPhotography{
    grid-area: ap;
    background-image: url(../img/courses/analogPhotographyPicture.jpg);
    background-size: cover;
    background-position: center;
    border-color:darkslategrey;
    margin-top: none;
}

#digitalPhotography{
    grid-area: dp;
    background-image: url(../img/courses/digitalPhotographyPicture.jpg);
    background-size: cover;
    background-position: center;
    border-color:deepskyblue;
}

#wildlifePhotography{
    grid-area: wp;
    background-image: url(../img/courses/wildlifePhotographyPicture.jpg);
    background-size: cover;
    background-position: center;
    border-color:chocolate;
}

#macroPhotography{
    grid-area: mp;
    background-image: url(../img/courses/macroPhotographyPicture.jpg);
    background-size: cover;
    background-position: center;
    border-color: forestgreen;
}

#photoshop{
    grid-area: ps;
    background-image: url(../img/courses/photoshopPicture.jpg);
    background-size: cover;
    background-position: bottom;
    border-color: saddlebrown;
}

#imageComposition{
    grid-area: ic;
    background-image: url(../img/courses/imageCompositionPicture.jpg);
    background-size: cover;
    background-position: bottom;
    border-color:lightseagreen;
    margin-bottom: 10px;
}

#gridWrapperAboutUs{
    background-color: black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh auto auto auto;
    grid-template-areas: 
    "he"
    "os"
    "om"
    "su"
    ;
}

.aboutUsArticle{
    margin-top: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 1vh;
}

.aboutUsPicture{
    border-width: 2px;
    border-style: solid;
    border-color: whitesmoke;
}

.aboutUsText{
    padding: 10px;
    color: whitesmoke;
    border-width: 2px;
    border-style: solid;
    border-color: whitesmoke;
}

.newParagraph{
    margin-top: 1em;
}

.aboutUsHeadline{
    text-align: center;
}

#ourStory{
    grid-area: os;
}

#ourMission{
    grid-area: om;
}

#sustainability{
    grid-area: su;
    margin-bottom: 1vh;
}

#gridWrapperAnalogPhotographyCourse{
    background-color: black;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh auto auto auto auto 10vh;
    grid-template-areas: 
    "he"
    "aa"
    "ac"
    "ai"
    "as"
    "an"
    ;
}

.analogCourse{
    margin-top: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
}

.analogCourseImage{
    border-width: 5px;
    border-style: solid;
    border-radius: 7px;
    border-color: whitesmoke;
}

.analogCourseText{
    padding: 10px;
    color: whitesmoke;
    border-width: 5px;
    border-style: solid;
    border-radius: 7px;
    border-color: whitesmoke;
}

.analogCourseTitle{
    text-align: center;
}

#aboutAnalogPhotography{
    grid-area: aa;
}

#aboutAnalogCourse{
    grid-area: ac;
}

#wordFromInstructorAnalog{
    grid-area: ai;
}

#wordFromStudentAnalog{
    grid-area: as;
}

#applyNowAnalog{
    grid-area: an;
}

@media screen and (min-width: 700px){ 

    #burger{
        display: none;
    }

    #linkList{
        background-color: black;
        height: 10vh;
        width: 100vw;
        position: absolute;
        top: 10vh;
        flex-direction: row;
    }

    .linkList_visible{
        transform: none;
    }

    #header{
        justify-content: center;
        margin: 0%;
        height: 10vh;
    }

    #picture{
        height: 100%;
        background-position-y: -100px;
    }
    
    #pictureDescription{
        height: 150px;
        width: 400px;
        position: absolute;
        top: 290px;
        align-self: center;
        background-color:rgb(0, 0, 0, 0.5);

    }

    #gridWrapperCourses{
        background-color: black;
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 10vh 60vh 50vh 52vh;
        grid-template-areas: 
        "he he"
        "ap dp"
        "wp mp"
        "ps ic"
        ;
    }

    .course{
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        margin-bottom: 1vh;
        padding-top: 0vh;
    }

    .courseText{
        padding-top: 3vh;
        padding-bottom: 3vh;
        display: inline-flex;
        flex-direction: column; 
        width: 50%;
        height: 48vh;
        align-items: center;
        justify-content: space-between;

    }

    .courseTitle{
        font-size: 2.5vw;
        margin-bottom: 0vh;
    }

    .courseDescription{
        display: initial;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 1vh;
        font-size: 1.35vw;
        text-align: center;
        color: whitesmoke;
        height: 67%;
    }

    .readMore{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: none;
        font-size: 2vw;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        margin-top: none;
    }

    #readMoreAnalog{
        border-color: darkslategray;
    }

    #readMoreDigital{
        border-color: deepskyblue;
    }

    #readMoreWildlife{
        border-color: chocolate;
    }

    #readMoreMacro{
        border-color: forestgreen;
    }

    #readMorePhotoshop{
        border-color: saddlebrown;
    }

    #readMoreComposition{
        border-color: lightseagreen;
    }

    .courseImage{
        display: initial;
        object-fit: cover;
        height: 48vh;
        width: 50%;
    }

    #analogPhotography{
        background-image: none;
        background-color: black;
        margin-top: 12vh;
        height: 48vh;
        flex-direction: row;
        overflow-y: hidden;
        margin-left: 1vw;
    }

    #digitalPhotography{
        background-image: none;
        background-color: black;
        margin-top: 12vh;
        height: 48vh;
        flex-direction: row;
        overflow-y: hidden;
        margin-right: 1vw;
    }

    #wildlifePhotography{
        background-image: none;
        background-color: black;
        height: 48vh;
        flex-direction: row;
        overflow-y: hidden;
        margin-left: 1vw;
    }

    #macroPhotography{
        background-image: none;
        background-color: black;
        height: 48vh;
        flex-direction: row;
        overflow-y: hidden;
        margin-right: 1vw;
    }

    #photoshop{
        background-image: none;
        background-color: black;
        height: 48vh;
        margin-bottom: 2vh;
        flex-direction: row;
        overflow-y: hidden;
        margin-left: 1vw;
    }

    #imageComposition{
        background-image: none;
        background-color: black;
        margin-bottom: 2vh;
        height: 48vh;
        flex-direction: row;
        overflow-y: hidden;
        margin-right: 1vw;
    }

    #gridWrapperAboutUs{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh auto;
        grid-template-areas: 
        "he he he"
        "os om su"
        ;
    }

    .aboutUsArticle{
        margin-top: 11vh;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        margin-bottom: 2vh;
    }

    #ourStory{
        margin-left: 1vw;
    }

    #sustainability{
        margin-right: 1vw;
    }

    .aboutUsText{
        margin-top: 
        1vh;
    }

    #gridWrapperAnalogPhotographyCourse{
        background-color: black;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: 10vh auto auto auto  10vh;
        grid-template-areas: 
        "he he he"
        "aa ac ac"
        "ai ai ai"
        "as as as"
        "an an an"
        ;
    }

    .analogCourseImage{
        object-fit: cover;
    }

    #analogCourseImageAbout{
        height: 60vh;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #analogCourseImageAboutPhotography{
        height: 60vh;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #analogCourseImageInstructor{
        width: 30vw;
    }

    #analogCourseImageStudent{
        width: 30vw;
    }

    #analogCourseTextaboutphotography{
        height: 75vh;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    #analogCourseTextabout{
        height: 75vh;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    #analogCourseTextInstructor{
        width: 66vw;
    }

    #analogCourseTextStudent{
        width: 66vw;
    }

    #analogCourseTextApply{
        font-size: 3vw;
    }

    #aboutAnalogPhotography{
        margin-top: 11vh;
        display: inline-flex;
        flex-direction: column;
        height: 135vh;
        width: 31vw;
        margin-right: 1vw;
    }
    
    #aboutAnalogCourse{
        margin-top: 11vh;
        display: inline-flex;
        flex-direction: column;
        height: 135vh;
        width: 62.5vw;
        margin-left: 1vw;
    }
    
    #wordFromInstructorAnalog{
        display: inline-flex;
        height: 45vh;
        width: 96vw;
    }
    
    #wordFromStudentAnalog{
        display: inline-flex;
        height: 45vh;
        width: 96vw;
    }
    
    #applyNowAnalog{
        display: inline-flex;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        height: 15vh;
        width: 96vw;
    }
}